*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

  /* header */
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18%;
    border-bottom:1px solid rgba(219, 219, 219, 1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
header .logo{
    height: 29px;
}
header .logo img{
    height: 100%;
    object-fit: contain;
}
header .search-box{
    width: 250px;
    background-color: rgba(239, 239, 239, 1);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
header .search-box input{
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239, 239, 239, 1);
    padding-left: 10px;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-right: 20px;
}
header nav ul li:last-child{
    margin-right: 0;
}
header nav ul li a img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}
header nav ul li a i{
    font-size: 22px;
    color: rgba(38, 38, 38, 1);
}
/* body section */
section{
    padding: 30px 18%;
    background-color: #fafafa;
    display: flex;
}
.left-side{
    width: 65%;
}
.story{
    display: flex;
    padding: 16px;
    background-color: white;
    border: rgba(219, 219, 219, 1);
    border-radius: 3px;
}
.story .stories{
    width: 17%;
   
}
.story .stories a img{
    border-radius: 50%;
    border: 2px solid #c62d8f;
    padding: 1px;
    object-fit: cover;
}
.story .stories p{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #262626;
}
/* ------------post----------- */
.post{
    margin: 25px 0;
    background-color: white;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;
}
.post .post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.post .post-title .post-left{
    display: flex;
    align-items: center;
}
.post .post-title .post-left .images{
    margin-right: 15px;
}
.post .post-title .post-left .images img{
    border-radius: 50%;
    object-fit: contain;
}
.post .post-title .post-left .details .name{
    padding: 2px;
    font-weight: bold;
}
.post .post-content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* ------post-footer-------- */
.post .post-footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.post .post-footer .like-share-comment i{
    font-size: 22px;
    margin-right: 10px;
}
.post .post-footer .save{
    font-size: 22px;
}
.post .post-footer-content{
    padding: 0 16px 16px 16px;
}
.post .post-footer-content p{
    margin-bottom: 3px;
}
.post .post-footer-content .likes{
    padding-bottom: 8px;
}
.post .post-footer-content .name{
    font-weight: 600;
}
.post .post-footer-content .Posting-time{
    font-size: 10px;
    margin-bottom: 6px;
}
.post .add-comments{
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .add-comments .left-side{
    display: flex;
    align-items: center;
}
.post .add-comments .left-side i{
    font-size: 22px;
    margin-right: 15px;
}
.post .add-comments .left-side input{
    width: 100%;
    border: none;
    outline: none;
}
/* ----------right-side-------- */
.right-side{
    width: 35%;
    margin-top: 15px;
    position: fixed;
    right: 30px;
}
.right-side .profile-title{
    display: flex;
    align-items: center;
}
.right-side .profile-title .profile-left{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.right-side .profile-title .profile-left .image img{
    border-radius: 50%;
    margin-right: 15px;
}
.right-side .profile-title .profile-left .detail .name{
    padding-bottom: 5px;
}
/* -------------suggestion------------- */
.suggestion{
    display: flex;
    
    margin-top: 25px;
    margin-bottom: 20px;

}
.suggestion p {
    margin-right: 90px;
    
}
.suggestion p:last-child {
    margin-right: 0px;
    
}
.suggestion-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.suggestion-title .suggestion-left{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.suggestion-title .suggestion-left .image img{
    border-radius: 50px;
    margin-right: 15px;
}
.suggestion-title .suggestion-left p{
    margin-bottom: 3px;
}

/* media query---------- */
@media(max-width:992px){
 header{
    padding: 10px 20px;
 }  
 section .left-side{
    width: 100%;
 }
 section .right-side{
    display: none;
 }
}
@media(max-width:768px){
    header .search-box{
        display: none;
    }
    section{
        padding: 30px 20px;
    }
}
@media(max-width:576px){
    .story .stories{
        width: 25%;
    }
    header nav ul li{
        margin-right: 10px;
    }
}